---
import { Image } from "astro:assets"

interface Props {
	imgSrc: string
	href: string
}

const { imgSrc, href } = Astro.props
---

<div class="card">
	<a target="_blank" rel="noopener noreferrer" class="link" {href}>
		<Image
			role="img"
			class="img"
			aria-labelledby="Project"
			src={imgSrc}
			alt="Project"
			width={300}
			height={300}
		/>
	</a>
</div>

<style>
	.card {
		height: 300px;
		position: relative;
		width: 100%;
		border-radius: 10px;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
		transition: all 0.3s ease-in-out;
		overflow: hidden;

		&::after {
			position: absolute;
			content: "";
			inset: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
			opacity: 0.8;
			z-index: 1;
		}
		&:hover {
			transform: scale(1.025);
		}
	}

	.link {
		display: flex;
		background-color: var(--color-primary);
		width: 100%;
		height: 100%;
		z-index: 2;
		padding: 1rem;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		text-decoration: none;
		border-radius: 10px;
		overflow: hidden;
	}

	.card:hover a img {
		transform: scale(1.65);
	}

	.card a img {
		object-fit: contain;
		height: 300px;
		width: 100%;
		transition: all 0.3s ease-in-out;
		z-index: 10;
		transform: scale(1.3);
	}

	@keyframes moveAndRotateIcon {
		0% {
			transform: rotate(0);
		}
		100% {
			transform: rotate(360deg);
		}
	}
</style>
