---
import LightLogo from "@components/Logo/LightLogo.astro";
---

<section class="section-1">
  <LightLogo />
</section>

<style>
  .section {
  &-1 {
    margin-right: 3rem;
  }

  &-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

</style>