---
import Layout from "@layouts/Layout.astro"
import Sidebar from "@components/Sidebar/Sidebar.astro"
import Title from "@components/Hero/Title.astro"
import Projects from "@components/Projects/Section.astro"
import About from "@components/About/Section.astro"
import Technologies from "@components/Technologies/Section.astro"
import Footer from "@components/Footer/Footer.astro"
import Subtitle from "@components/Hero/Subtitle.astro"
---

<Layout title="Matias Ferraro">
	<div class="hero">
		<Sidebar />
		<Title />
		<section
			class="flex flex-col justify-center items-center w-full col-start-1 col-end-3 row-start-2 z-0"
		>
			<Subtitle />
			<p class="p">Have a look about my works and my life</p>
		</section>
	</div>
	<div class="trigger" id="trigger"></div>
	<div>
		<Projects />
		<About />
		<Technologies />
	</div>
	<Footer />
</Layout>

<style>
	.trigger {
		margin: 1rem;
	}

	.hero {
		display: grid;
		grid-template-columns: auto 1fr;
	}

	@media screen and (min-width: 1700px) {
		.hero {
			gap: 3rem;
		}
	}

	@media screen and (orientation: landscape) and (max-width: 980px) {
		.hero {
			grid-template-columns: 1fr;
			grid-template-rows: auto auto;
			height: auto;
		}
	}

	@media screen and (max-width: 768px) {
		.hero {
			grid-template-columns: 1fr;
			grid-template-rows: auto auto;
			height: auto;
		}
	}
</style>
