---
import IconWithLink from "@components/Sidebar/IconWithLink.astro"
import Github from "@components/icons/Github.astro"
import Linkedin from "@components/icons/Linkedin.astro"
---

<section class="container md:flex hidden">
	<IconWithLink href="https://github.com/MatataFerra">
		<Github cssClass="svg" colorFill="#272727" />
	</IconWithLink>

	<IconWithLink href="https://www.linkedin.com/in/matiasgf/">
		<Linkedin cssClass="svg" colorFill="#272727" />
	</IconWithLink>
</section>

<style>
	.container {
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
	}

	.svg {
		cursor: pointer;
		transition: all 0.2s ease-in-out;
	}

	@media screen and (max-width: 768px) {
		.container {
			display: none;
		}
	}

	@media screen and (orientation: landscape) and (max-width: 980px) {
		.container {
			display: none;
		}
	}
</style>
