:root {
	/* Colors */
	--color-primary: #fff;
	--color-secondary: #eeeeee;
	--color-black: #000;
	--color-dark-gray: #333;
	--color-gray: #c4c4c4;
	--color-light-gray: #f4f4f4;
	--color-purple: #8000ff;
	--color-light-purple: #cf59e6;
	--color-light-blue: #6bc5f8;
	--color-light-blue-2: #5ce1e6;
	--color-vue-gradient-start: #42d392;
	--color-vue-gradient-end: #647eff;
	--color-red: #ec5354;
	--color-white-transparent: rgba(255, 255, 255, 0.563);
	
	
	/* Breakpoints */
	--breakpoint-xs: 320px;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1280px;
	--breakpoint-xxl: 1400px;
	
	/* Fonts Sizes */
	--h2-size: 52px;
	--font-color: #222;

	/* Bg */
	--dark-background-color:#222222;
	--dark-background-color-panel: #161616;
  --background-color:#efefef;
	--background-color-panel: #fff;

}